<footer class="py-3 fixed">	
<p style="font-family: passion_one_font;font-size:18px;" class="text-center">Made with <i style="color:crimson;" class="fa fa-heart"></i> by Junayed Rahaman</p>
    <p style="font-family: passion_one_font;font-size:18px;" class="text-center text-muted">© 2022 DailyPay</p>
  </footer>
<script src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!--     <script type="text/javascript" src="/js/mdb.min.js"></script> -->
</div>
</body>
</html>