<%- include("partials/header") %>
<div id="box" class="container">
	    <div class="jumbotron mt-3" style="background-color:#fff !important;color:#2d2d2d !important;border-radius:3px !important;">
        <p class="text-center" style="font-size:25px;font-family:'passion_one_font', sans-serif;font-weight:400;"><i id="icon" class="fa fa-quote-left"></i> 404 Page Not Found! <i id="icon" class="fa fa-quote-right"></i></p>
    </div>
</div>
<%- include("partials/footer") %>