<%- include("partials/header") %>
<div id="box" class="container">
	    <div class="jumbotron mt-3" style="background-color:#fff !important;color:#2d2d2d !important;border-radius:3px !important;">
        <p class="text-center" style="font-size:23px;font-family:'passion_one_font', sans-serif;font-weight:400;"><i id="icon" class="fa fa-quote-left"></i> Welcome to DailyPay <i id="icon" class="fa fa-quote-right"></i></p>        
        <p class="text-center" style="font-size:20px;font-family:'passion_one_font', sans-serif;font-weight:400;"><i class="fa fa-hand-o-right"></i> Click the following button to view your transactions</p>
        <p class="text-center">
          <a href="/transaction" class="myBtn"><i class="fa fa-money"></i> Your transactions</a>
        </p>
    </div>
    <div class="row">
      <div class="col-md-9 col-centered">
  
  <div class="card my-3">
  <h5 class="card-header text-center">+ 100</h5>
  <div class="card-body">
    <h5 class="card-title">Example Subject</h5>
    <p style="color: dimgray;" class="card-text"> Example Description.</p>
    <button class="myBtnEdit rippleEdit">Edit <i class="fa fa-pencil"></i> </button>
            <button id="delete" class="myBtnDelete rippleDelete ml-2">Delete <i class="fa fa-trash"></i> </button>
    <span class="text-muted" style="float: right;font-size: 14px;">
       1:26 PM
       <br>
       11/06/2022
     </span>
  </div>
</div>  
<div class="card my-3">
  <h5 class="card-header text-center">+ 200</h5>
  <div class="card-body">
    <h5 class="card-title">Example Subject</h5>
    <p style="color: dimgray;" class="card-text"> Example Description.</p>
   <button class="myBtnEdit rippleEdit">Edit <i class="fa fa-pencil"></i> </button>
            <button id="delete" class="myBtnDelete rippleDelete ml-2">Delete <i class="fa fa-trash"></i> </button>
    <span class="text-muted" style="float: right;font-size: 14px;">
       1:27 PM
       <br>
       11/06/2022
     </span>
  </div>
</div>  
<div class="card my-3">
  <h5 class="card-header text-center">+ 300</h5>
  <div class="card-body">
    <h5 class="card-title">Example Subject</h5>
    <p style="color: dimgray;" class="card-text"> Example Description.</p>
    <button class="myBtnEdit rippleEdit">Edit <i class="fa fa-pencil"></i> </button>
            <button id="delete" class="myBtnDelete rippleDelete ml-2">Delete <i class="fa fa-trash"></i> </button>
    <span class="text-muted" style="float: right;font-size: 14px;">
       1:28 PM
       <br>
       11/06/2022
     </span>
  </div>
</div>	
</div>
</div>
</div>
<%- include("partials/footer") %>